@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Rubik;
}

body{
	background-color: rgb(25, 32, 37);
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.btn{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.4s;
	flex-basis: 47%;
	text-align: center;
	cursor: default;
	font-size: 30px;
}

.btn1{
	border: 2px solid violet;
	box-shadow: violet 0 1px 20px;
}

.btn1:hover{
	box-shadow: violet 0 1px 20px;
}

.btn2{
	border: 2px solid cyan;
	box-shadow: cyan 0 1px 20px;
}

.btn2:hover{
	box-shadow: cyan 0 1px 20px;
}

.btn3{
	border: 2px solid springgreen;
	box-shadow: springgreen 0 1px 20px;
}

.btn3:hover{
	box-shadow: springgreen 0 1px 20px;
}

.btn4{
	border: 2px solid yellow;
	box-shadow: yellow 0 1px 20px;
}

.btn4:hover{
	box-shadow: yellow 0 1px 20px;
}

