@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  background-color: aliceblue;
}

/* ---- Some Basic CSS ☝️ ---- */

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-wrapper{
  min-width: 300px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  background-color: #fff;
  padding: 5px;
}

.field{
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 15px;
}

.bx-search{
  padding: 10px;
  border: none;
  font-size: 18px;
  background-color: #771dff;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
